


  <div class="container-fluid">
    <div class="row card shadow-sm rounded bg-white">
      <div class="col-md-12 d-flex justify-content-between">
        <img
          width="100px"
          height="100px"
          src="https://lti-web-based-case-study.herokuapp.com/images/logo.png"
          class="img-fluid"
          alt=""
        />
        <div class="col-6 d-flex align-items-center justify-content-between">
          <button class="btn-dark text-white rounded waves-effect">
            <a class="text-white" href="/">Homepage</a>
          </button>
          <button class="btn-dark text-white rounded waves-effect">
            <a class="text-white" href="/all">All Students</a>
          </button>
          <button class="btn-dark rounded waves-effect">
            <a href="/add">Add student</a>
          </button>
          <button
            type="button"
            data-toggle="modal"
            data-target="#exampleModal"
            class="btn-dark rounded waves-effect mr-4"
          >
          <a href="/search">Search student</a>
          </button>
        </div>
      </div>
    </div>
  </div>
